nav {
    background-color: #2f4f4f;
    padding: 1rem;
  }
  
  nav img {
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover {
    color: #007bff;
  }
  
  nav p {
    font-size: 14px;
    color: white;
  }
  