@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Merriweather&display=swap');

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f4f4f;
  padding: 1rem 2rem;
  border: 4px solid #452d12;
}

nav img {
  width:90px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Playfair Display', serif;
}

nav ul li a:hover {
  color: #007bff;
}

nav p {
  margin-right:auto;
  color: #fbfbfb;
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  color: #ffffff;
}
